<template>
  <div class="wrapper">
    <div class="palette">
      <h2>COLORPICKER</h2>
      <p style="color:#757575;margin: 8px 0;">Seleccione un color para desplegar su código en <strong>RGB</strong>, <strong>HEXADECIMAL</strong> o <strong>HSL</strong></p>
      <div class="colors">
        <div v-for="(color, idx) in colors" v-on:click="colorClicked($event.target)" :key="idx" class="color" v-bind:data-hex="color.codeHex" v-bind:data-name="color.name" :style="{ backgroundColor: color.codeHex}"
        ></div>
      </div>
      <div class="codes">
        <div class="colorModels">
          <div class="selected" v-on:click="selectColorModel($event.target)">HEX</div>
          <div v-on:click="selectColorModel($event.target)">RGB</div>
          <div v-on:click="selectColorModel($event.target)">HSL</div>
        </div>
        <div class="value">
          <input type="text" v-bind:value="selectedColor.value" />
        </div>
        <div style="font-style: italic; margin: 8px 0; color:#BDBDBD;">{{selectedColor.colorName}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

interface SelectedColorI {
  value: string | undefined;
  model: string;
  colorName: string | undefined;
}

@Component
export default class Pallete extends Vue {
  @Prop() private name!: string;
  @Prop() private colors!: Array<object>;

  selectedColor: SelectedColorI = {
    value: undefined,
    model: "hex",
    colorName: undefined,
  };

  colorClicked(el: HTMLElement) {
    const colorsContainer = el.parentElement;
    const colors = colorsContainer?.querySelectorAll("div");
    colors?.forEach((color) => {
      color.classList.remove("selected");
    });
    el.classList.add("selected");
    switch (this.selectedColor.model) {
      case "hex":
        this.selectedColor.value = `${el.dataset.hex}`;
        break;
      case "rgb":
        this.rgbClicked(el);
        break;
      case "hsl":
        this.hslClicked(el);
        break;
      default:
        break;
    }
    this.selectedColor.colorName = el.dataset.name;
  }

  rgbClicked(el: HTMLElement) {
    const value = this.fromHexToRGB(`${el.dataset.hex}`);
    this.selectedColor.value = `${value?.r},${value?.g},${value?.b}`;
  }

  hslClicked(el: HTMLElement) {
    const value = this.fromHexToHSL(`${el.dataset.hex}`);
    this.selectedColor.value = `${value?.h}%,${value?.s}%,${value?.l}%`;
  }

  fromHexToRGB(hex: string) {
    const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result
      ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16),
        }
      : null;
  }

  fromHexToHSL(hex: string) {
    const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    const hexConv: any = this.fromHexToRGB(hex);
    (hexConv.r /= 255), (hexConv.g /= 255), (hexConv.b /= 255);
    const max = Math.max(hexConv.r, hexConv.g, hexConv.b),
      min = Math.min(hexConv.r, hexConv.g, hexConv.b);
    let h: number = (max + min) / 2;
    let s: number = h;
    const l = (max + min) / 2;

    if (max == min) {
      h = s = 0; // achromatic
    } else {
      const d = max - min;
      s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
      switch (max) {
        case hexConv.r:
          h = (hexConv.g - hexConv.b) / d + (hexConv.g < hexConv.b ? 6 : 0);
          break;
        case hexConv.g:
          h = (hexConv.b - hexConv.r) / d + 2;
          break;
        case hexConv.b:
          h = (hexConv.r - hexConv.g) / d + 4;
          break;
      }
      h /= 6;
    }
    return result
      ? {
          h: Math.round(360 * h),
          s: Math.round(s * 100),
          l: Math.round(l * 100),
        }
      : null;
  }

  selectColorModel(el: HTMLElement) {
    const colorModels = el.parentElement;
    const models = colorModels?.querySelectorAll("div");
    models?.forEach((model) => {
      model.classList.remove("selected");
    });
    el.classList.add("selected");
    this.selectedColor.model = el.innerHTML.toLowerCase();
    if (this.selectedColor.value == null) {
      this.selectedColor.value = "Seleccione un color";
    }else{
      const colorsContainer = el?.parentElement?.parentElement?.parentElement;
      const colors = colorsContainer?.querySelectorAll(".color");
      colors?.forEach(color => {
        if(color.classList.contains("selected")){
          this.colorClicked(color as HTMLElement);
        }
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  .palette {
    width: 302px;
    background-color: white;
    margin: 15px;
    border: 1px solid rgba($color: #b3b3b3, $alpha: 0.3);
    box-shadow: 0px 2px 6px rgba($color: #b3b3b3, $alpha: 0.3);
    padding: 15px;
    display: flex;
    flex-flow: column;
    .colors {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      .color {
        flex: 0 0 35px;
        height: 35px;
        cursor: pointer;
        &:hover {
          border: 3px solid rgba($color: rgb(18, 18, 18), $alpha: 0.5);
        }
        margin: 5px;
      }
    }
    .codes {
      display: flex;
      flex-flow: column;
      .colorModels {
        display: flex;
        font-size: 80%;
        font-weight: bolder;
        color: #a2a2a2;
        div {
          margin: 10px 2px;
          cursor: pointer;
          &.selected {
            color: #434343;
          }
        }
      }
      input {
        width: 100%;
        padding: 10px 15px;
        width: 100%;
        font-size: 110%;
        color: #a2a2a2;
      }
    }
  }
}
</style>
